/* src/styles/Palette.css */
.saved-palettes {
  margin: 20px 0;
  text-align: left;
  width: 100%;
}

.saved-palettes h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.saved-palettes .saved-palette {
  display: flex;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.saved-palettes .saved-palette:hover {
  background-color: #eaeaea;
}

.saved-palettes .saved-palette div {
  margin-right: 5px;
  border-radius: 50%;
}
